/* Fondo del overlay */
.custom-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Estilo del modal (contenido del modal) */
.custom-modal {
  background-color: white;
  max-width: 600px;
  width: 90%;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

/* Estilo responsivo */
@media (max-width: 576px) {
  .custom-modal {
    width: 95%;
    max-width: 100%;
    padding: 10px;
  }

  .modal-title {
    font-size: 1.1rem;
  }
}


/* Personalizar encabezado del modal */
.modal-header {
  background-color: #f8f9fa; /* Color de fondo más claro */
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #495057;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  opacity: 0.7;
}

/* Estilo para el cuerpo del modal */
.modal-body {
  padding: 1.5rem;
  color: #343a40;
  max-height: 70vh;
}

/* Estilo para el pie del modal */
.modal-footer {
  background-color: #f8f9fa; /* Fondo claro */
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  text-align: center;
}

.modal-footer .btn-secondary {
  background-color: #f8f9fa;
  color: #495057;
}

.modal-footer .btn-success {
  background-color: #198754;
  color: #fff;
  border: none;
}

/* Animación para suavizar la aparición */
.custom-modal {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  td.d-flex {
    flex-direction: column !important;
    align-items: center;
  }
}
